# Auto detect text files and perform LF normalization
* text=auto
git add .gitattributes
git commit -m "track *.csv files using Git LFS"

git add card_transaction_data.csv
git push origin WGU_Capstone

git lfs track "*.csv"
